<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.anusara.bcv2">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- <uses-permission android:name="android.permission.VIBRATE" /> -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".intro"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".Member.MembermainActivity"
            android:label="@string/title_activity_membermain"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Guest.GuestMainActivity"
            android:label="@string/title_activity_guest_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".About.AboutActivity" />
        <activity android:name=".About.ShowAboutActivity" />
        <activity android:name=".Member.Questionnaire.MQuestionActivity" />
        <activity android:name=".Member.Questionnaire.AnsQuestionActivity" />
        <activity android:name=".Member.MTest.MTestActivity" />
        <activity android:name=".Member.MTest.MT1Activity" />
        <activity android:name=".Member.MTest.MT2Activity" />
        <activity android:name=".Member.MTest.MT3Activity" />
        <activity android:name=".Member.MTest.MT4Activity" />
        <activity android:name=".Member.MTest.MT5Activity" />
        <activity android:name=".Member.MTest.MT6Activity" />
        <activity android:name=".Member.MTest.MTSumActivity" />
        <activity
            android:name=".Member.MPost.MPostActivity"
            android:label="@string/title_activity_mpost"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Member.MPost.MPostaddActivity" />
        <activity android:name=".Member.MPost.MPostShowActivity" />
        <activity android:name=".Member.MComment.CommentActivity" />
        <activity android:name=".Touch.TouchActivity" />
        <activity android:name=".Alarm.SetAlarmActivity" />
        <activity android:name=".Guest.GQuestion.GQuestionActivity" />
        <activity android:name=".Guest.GQuestion.GAnsQuesActivity" />
        <activity android:name=".Guest.GPosts.GPostActivity" />
        <activity android:name=".Guest.GPosts.GPostShowActivity"></activity>
    </application>

</manifest>